@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{margin: 0; padding: 0;
    font-family: 'Noto Sans KR', sans-serif;}

  body{
    width: 1200px; 
    /* border: 3px solid #000000; */
    margin:auto;
    background-image: url(back.png);}
  
       
  /* 스크롤바 */
   .project::-webkit-scrollbar {
     width: 16px;}
   .project::-webkit-scrollbar-track {
     background-color: #ffffff;
     border-radius: 100px;}
   .project::-webkit-scrollbar-thumb {
     background-color: #ffffff;
     border-radius: 100px;}
   .project {
     scrollbar-color: #ffffff #f9f6ee;}
   .project::-webkit-scrollbar-thumb {
     background-image: linear-gradient(180deg, #f9f6ee 0%, #ffffff 99%);
     box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
     border-radius: 100px;}

/* header */

header{height: 150px;}

.title h1{
    font-size: 3rem;
    text-align: center;
    line-height: 3;
}

.title span{
    font-size: 2rem;
}

/* aside */

aside{
    height: 700px;}

.image img{
    width: 1200px;
}

/* section */

section{
    height: auto;}

.concept{
    text-align: center;
    padding-top: 15rem;
}

.concept h1{
    font-size: 3rem;
    text-align: center;
    line-height: 3;
}    

/* section1 */

section1{
    width: 1200px;
    text-align: center;
}

.design{padding-top: 5rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}

.web{margin-left: 1rem;}

.design h1{
    font-size: 3rem;
    text-align: center;
    line-height: 3;
}

.design .web{
    overflow: scroll;
    border:solid 1px #444;
    height: 500px;
    width: 1000px;
    float: none;
    }


.design .web h3{
    font-size: 1.7rem;
}

.web::-webkit-scrollbar {display: none;}

.design .web img{
    width: 100%;
    border-top: 1px solid #444;
}

.login{margin-top: 1rem;
margin-left: 1rem;}

.design .login{
    overflow: scroll;
    border:solid 1px #444;
    height: 500px;
    width: 1000px;
    float: none;
}

.design .login h3{
    font-size: 1.7rem;
}

.login::-webkit-scrollbar {display: none;}

.design .login img{
    width: 100%;
    border-top: 1px solid #444;
}

.scroll {
    width: 25px;
    height: 25px;
    border: 2px solid #53b6c8;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    top: -3%; right: -85%;
  }

  .scroll::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;
    width: 7px;
    height: 7px;
    border-left: 2px solid #53b6c8;
    border-bottom: 2px solid #53b6c8;
    transform: rotate(-45deg);
  }
  
  @keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  @-webkit-keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }


/* footer */

footer{
    clear: both;
    width: 1200px;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 5rem;}

.btn a{
    text-decoration: none;
    color: #444;
    background-image: none;
}

.btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #444;
  border: 2px solid #444;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
  width: 8rem;
  height: 4rem;
}

.btn:-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn--stripe {
  overflow: hidden;
  position: relative;
}
.btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #444, #444 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #444;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.btn--stripe:hover {
  background-color: #acf3ff;
  color: #fff;
  border-color: #444;
}

.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #444, #444 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #444;
  animation: stripe-slide 12s infinite linear forwards;
}
.btn--large {
  width: 50%;
}
.btn--radius {
  border-radius: 36px;
}


 /* 화면너비 0~768px */
@media (max-width:768px){
  .project::-webkit-scrollbar {
    width: 10px;
   }

  .project{
    width: 758px;
  }
  .title{
    width: 758px}
  .title h1{
    text-align: center;
    padding-left: 1rem;
  }
  .image{
    width: 758px;
    height: auto;
  }
  .image img{
    width: 740px;}

  .concept{
    width: 758px;
    padding-top: 1rem;
  }

  .concept img{
    width: 100%;
    padding-top: 5rem;
  }

  .design{
    width: 758px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .design h1{
    text-align: initial;
  }
  .design .web{
    height: 500px;
    width: 650px;
    float: none;
    }
  

  .design .mobile{
    height: 500px;
    width: 350px;
    
  }

  .footer{
    width: 758px;
  }

}


/* 화면너비 0~420px */
@media (max-width:420px){

.project{
  width: 350px;
}
.title{
  width: 350px}

.title h1{
  text-align: center;
  padding-left: 1rem;
  font-size: 2rem;
}
.image{
  width: 350px;
  height: auto;
}
.image img{
  width: 350px;}

.concept{
  width: 350px;
  padding-top: 1rem;
}

.concept img{
  width: 100%;
  padding-top: 4rem;
}

.design{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.design h1{
  text-align: initial;
  font-size: 2rem;
  padding-left: 1rem;
}
.design .web{
  height: 500px;
  width: 290px;
  float: none;
  }

.design .login{
  height: 250px;
  width: 290px;
}

.footer{
  width: 350px;
}

}